#background {
    background-color: #F7F6F9;
}

.background-sidebar {
    background-color: white;
}

.weather-card:hover h5 {
    color: white;
}

.weather-card:hover p {
    color: rgb(232, 232, 232);
}